<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PiPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pimediacenter copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pmcdaemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>radiochanger copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>radiochanger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9245F001AD3125C00031CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9A59E741ACE7B9300F9A180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D9CD511B1B0F1A00F3D578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D9CD6F1B1B0FB200F3D578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
