<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pi Media Center</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body ng-app="pmcApp" ng-controller="pmcController">
    <h1>Pi Media Center</h1>
    <nav>
        <ul class="papertabs">
            <li ng-repeat="item in navItems">
                <a ng-click="setNavActive(item)">
                    {{item.text}}
                    <span class="papertabs-line" ng-show="isNavActive(item)"></span>
                </a>

            </li>
        </ul>
    </nav>
    <div class="selection-window">
        <div class="selection-content" ng-repeat="item in navItems" ng-show="isNavActive(item)">
            {{item.text}}
        </div>
    </div>
</body>
</html>